/* NAVBAR STYLES */
*{margin:0; padding:0;}
nav ul {
  cursor: pointer;
  list-style-type: none;
  display: flex;
  margin:0;
}
nav{
    font-size: 1.40em;
    font-weight: 200;
}

.nav-icon span{
    vertical-align: middle;
}

.text-link {
    color: #b6aeae;
  }
  .text-link:hover {
     color: white
  }
